# Ignore Python artifacts
*.swp
*.pyc

# Ignore image artifacts
*.png
*.svg
*.dot

# Ignore temp files created by gedit

*~

# Ignore .idea files
*.idea*

# Ignore venv
/venv*.terraform/
.terraform.lock.hcl
./terraform_tests/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/terraform-provider-aws_v5.100.0_x5
